services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=asterisk
      - POSTGRES_USER=asterisk
      - POSTGRES_PASSWORD=asterisk
      - TZ=America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    networks:
      asteracomm-network:
        ipv4_address: 172.18.0.2
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        
  asterisk:
    build: ./asterisk
    container_name: asterisk
    ports:
      - "5060:5060/udp"
      - "5061:5061/tcp"
      - "5060:5060/udp"
      - "5061:5061/tcp"
      - "5038:5038/tcp"
      - "10000-10010:10000-10010/udp"
    volumes:
      - ./asterisk/config:/etc/asterisk
      - ./asterisk/odbc.ini:/etc/odbc.ini
      - ./asterisk/odbcinst.ini:/etc/odbcinst.ini
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Sao_Paulo
    depends_on:
      - postgres
    networks:
      asteracomm-network:
        ipv4_address: 172.18.0.3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        
  backend:
    build: ./asteracomm
    container_name: backend
    ports:
      - "8090:8090"
    volumes:
      - ./asteracomm/app:/app
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Sao_Paulo
    networks:
      asteracomm-network:
        ipv4_address: 172.18.0.4
    depends_on:
      - postgres
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
      
  nginx:
    image: nginx:stable
    container_name: nginx
    volumes:
      - ./nginx/www:/usr/share/nginx/html:ro
      - ./nginx/config/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "80:80"
    networks:
      asteracomm-network:
        ipv4_address: 172.18.0.5
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    volumes:
      - ./frontend/app:/app
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "4321:4321"
    networks:
      asteracomm-network:
        ipv4_address: 172.18.0.6
    depends_on:
      - nginx
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        
volumes:
  postgres-data:

networks:
  asteracomm-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/24
